
header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 70px;
    line-height: 70px;
    padding: 0 40px;
    box-sizing: border-box;
    -webkit-transition: background .3s, box-shadow .3s;
    transition: background .3s, box-shadow .3s;
    @include cba();

	&.white {
	    background: rgba(255, 255, 255, 0.97);
	    box-shadow: 0 15px 25px 0 rgba(27, 31, 36, 0.1), 0 8px 8px 0 rgba(54, 54, 54, 0.08);	

	    ul li.logo #logo .st3 {
		    fill: #1f81bc
		}
		ul li.divider span {
		    background: rgba(0, 0, 0, 0.1)
		}
		ul li.button a {
		    border: 2px solid rgba(0, 0, 0, 0.2)
		}
		ul li.navigation-toggle a .container::before,
		ul li.navigation-toggle a .container::after {
		    background: #000
		}
		ul li.navigation-toggle a .container span {
		    background: #000
		}
		ul li a {
		    color: rgba(0, 0, 0, 0.5)
		}
		ul li a:hover,
		ul li a.active {
		    color: #000
		}
		ul li a:hover,
		ul li a.active {
		    color: #000
		}
		.number a {
		    color: rgba(0, 0, 0, 0.5)
		}
		.number a:hover,
		.number a.active {
		    color: #000
		}
		@include respond-to(lgmobile){
			&.scrolled ul li.logo,
		    &.scrolled ul li.phone {
		        z-index: initial
		    }
		    &.scrolled ul li.logo #logo .st0,
		    &.scrolled ul li.logo #logo .st1,
		    &.scrolled ul li.logo #logo .st2,
		    &.scrolled ul li.phone a {
		        position: relative;
		        z-index: 10
		    }
	    }
	}
	ul.right li a {
	    text-transform: none
	}
	ul li {
	    float: left;
	    margin: 0 30px 0 0;
	    position: relative;
	}
	ul li:last-child {
	    margin: 0
	}
	ul li.logo {
	    position: relative;
	    z-index: 2;
	    margin: 0 40px 0 0
	}
	ul li.logo.white #logo .st0,
	ul li.logo.white #logo .st1,
	ul li.logo.white #logo .st2,
	ul li.logo.white #logo .st3 {
	    fill: #ffffff
	}
	ul li.logo img,
	ul li.logo svg {
	    margin: 0 10px 2px 0
	}
	ul li.logo #logo {
	    width: 204px;
	    max-height: 70px;
	 	@include respond-to(mddesktop) { width: 180px}
	}
	ul li.logo #logo .st0 {
	    fill: #ff8400
	}
	ul li.logo #logo .st1 {
	    fill: #2a92ca
	}

	ul li.logo #logo .st2 {
	    fill: #4eafd1
	}

	ul li.logo #logo .st3 {
	    fill: #ffffff;
	    -webkit-transition: all 300ms;
	    transition: all 300ms;
	}
	ul li.divider span {
	    display: inline-block;
	    vertical-align: middle;
	    background: rgba(255, 255, 255, 0.1);
	    width: 2px;
	    height: 24px;
	    margin: 0 5px
	}
	ul li.button a {
	    display: inline-block;
	    vertical-align: middle;
	    height: 28px;
	    line-height: 28px;
	    border: 2px solid rgba(255, 255, 255, 0.2);
	    padding: 0 12px;
	    border-radius: 16px;
	    -webkit-transition: all 300ms;
	    transition: all 300ms
	}

	ul li.button a:hover,
	ul li.button a.active{
	    color: #ffffff;
	    text-shadow: none !important;
	    background: $cta-color;
	    border: 2px solid $cta-color;
	    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1)
	}
	ul li.small a {
	    font-size: 14px;
	    font-weight: 600
	}
	ul li.big a {
	    font-size: 18px;
	    font-weight: 600
	}
	ul li.navigation-toggle {
	    position: relative;
	    z-index: 1;
	    display: none
	}

	ul li.navigation-toggle.active a .container::before {
	    -webkit-transform: translate3d(1px, 0, 0) rotateZ(45deg);
	    transform: translate3d(1px, 0, 0) rotateZ(45deg)
	}

	ul li.navigation-toggle.active a .container::after {
	    -webkit-transform: translate3d(1px, 0, 0) rotateZ(-45deg);
	    transform: translate3d(1px, 0, 0) rotateZ(-45deg)
	}

	ul li.navigation-toggle.active a .container span {
	    -webkit-transform: translate3d(100%, 0, 0);
	    transform: translate3d(100%, 0, 0)
	}

	ul li.navigation-toggle a {
	    display: inline-block;
	    vertical-align: middle;
	    padding: 10px
	}

	ul li.navigation-toggle a .container {
	    position: relative;
	    overflow: hidden;
	    display: block;
	    height: 16px
	}

	ul li.navigation-toggle a .container::before,
	ul li.navigation-toggle a .container::after {
	    content: "";
	    position: absolute;
	    top: 0;
	    left: 50%;
	    background: #ffffff;
	    width: 21px;
	    height: 2px;
	    margin: 0 0 0 -10.5px;
	    border-radius: 2px;
	    -webkit-transform-origin: top left;
	    -ms-transform-origin: top left;
	    transform-origin: top left;
	    -webkit-transition: all 300ms;
	    transition: all 300ms;
	    
	}

	ul li.navigation-toggle a .container::after {
	    top: auto;
	    bottom: 0;
	    -webkit-transform-origin: bottom left;
	    -ms-transform-origin: bottom left;
	    transform-origin: bottom left
	}

	ul li.navigation-toggle a .container span {
	    position: relative;
	    display: block;
	    background: #ffffff;
	    width: 21px;
	    height: 2px;
	    margin: 7px 0;
	    border-radius: 2px;
	    -webkit-transition: all 300ms;
	    transition: all 300ms;
	}

	ul li a {
	    @extend %primary-font;
	    font-size: 14px;
	    font-weight: 700;
	    color: #ffffff;
	    text-align: center;
	    text-transform: uppercase;
	    cursor: pointer;
	    -webkit-transition: all 300ms;
	    transition: all 300ms;
	}

	ul li a:hover {
	    color: $cta-color
	}

	ul li a img,
	ul li a svg {
	    vertical-align: middle;
	    margin: 0 10px 0 0
	}
	ul li a #phone {
	    width: 18px;
	    height: 18px
	}

	ul li a #phone path {
	    fill: #ff8400
	}

	ul li a #phone path:nth-child(2) {
	    -webkit-animation: header-phone 1s infinite cubic-bezier(.1, .57, .5, 1);
	    animation: header-phone 1s infinite cubic-bezier(.1, .57, .5, 1)
	}

	ul li a #phone path:nth-child(3) {
	    -webkit-animation: header-phone2 1s infinite cubic-bezier(.1, .57, .5, 1);
	    animation: header-phone2 1s infinite cubic-bezier(.1, .57, .5, 1)
	}
	@include respond-to(mddesktop) { padding: 0 10px 0 20px }
	@include respond-to(tablet) { padding: 0 10px 0 20px }
    @include respond-to(mddesktop){

    	&.navigation-toggled {
    		z-index: 120;
    	}
    	&.navigation-toggled ul li.logo #logo .st3 {
    		fill: #fff;
    		display: none;
    	}
    	&.navigation-toggled ul li.phone a .number {
	        color: #ffffff
	    }
	    &.navigation-toggled ul li.navigation-toggle a .container::before,
    	&.navigation-toggled ul li.navigation-toggle a .container::after,
    	&.navigation-toggled ul li.navigation-toggle a .container span {
	        background: #ffffff
	    }
	    &.scrolled ul li.logo #logo .st3 {
	        fill: #ffffff;
	        opacity: 0;
	        display: none;
	    }
    	&.scrolled ul li.phone a .number {
	        opacity: 1
	    }
	    ul li.link:not(.phone){
	    	display: none;
	    }
	    ul li.logo {
	        margin: 0
	    }

	    ul li.divider {
	        display: none
	    }
	    ul li.button {
	        display: none
	    }
	    ul li.phone {
	        position: absolute;
	        top: 0;
	        left: 0;
	        z-index: 1;
	        text-align: left;
	        white-space: nowrap;
	        width: 100%;
	        margin: 0;
	        -webkit-transition: all 300ms;
	        transition: all 300ms
	    }
	    ul li.phone .phone-inner {
	        overflow: hidden;
	        width: calc(100% - 71px)
	    }
	    ul li.phone a {
	        display: inline-block;
	        color: #000000;
	        -webkit-transition: all 300ms;
	        transition: all 300ms
	    }
	    ul li.phone a .number {
	        opacity: 0;
	        -webkit-transition: all 300ms;
	        transition: all 300ms
	    }
	    ul li.navigation-toggle {
	        display: block
	    }
    }
    
    @include respond-to(tablet){
    	&.navigation-toggled {
	        z-index: 120
	    }
	    &.navigation-toggled ul li.logo #logo .st3 {
    		fill: #fff;
    		display: none;
    	}
    	&.navigation-toggled ul li.phone a .number {
	        color: #ffffff
	    }
	    &.navigation-toggled ul li.navigation-toggle a .container::before,
    	&.navigation-toggled ul li.navigation-toggle a .container::after,
    	&.navigation-toggled ul li.navigation-toggle a .container span {
	        background: #ffffff
	    }
	    &.scrolled ul li.logo #logo .st3 {
	    	fill: #ffffff;
	        opacity: 0;
	        display: none;
	    }
	    &.scrolled ul li.phone a .number {
	        opacity: 1
	    }
		ul li.link:not(.phone){
	    	display: none;
	    }
	    ul li.logo {
	        margin: 0
	    }
	    ul li.divider {
	        display: none
	    }
	    ul li.button {
	        display: none
	    }
	    ul li.phone {
	        position: absolute;
	        top: 0;
	        left: 0;
	        z-index: 1;
	        text-align: left;
	        white-space: nowrap;
	        width: 100%;
	        margin: 0;
	        -webkit-transition: all 300ms;
	        transition: all 300ms
	    }
	    
	    &.less[data-less-mobile="yes"] ul li.logo #logo .st3 {
	        opacity: 0
	    }
	    &.less[data-less-mobile="yes"] ul li.phone {
	        right: 20px;
	        left: auto;
	        width: auto
	    }
	    &.less[data-less-mobile="yes"] ul li.phone .phone-inner {
	        width: auto
	    }
	    ul li.phone .phone-inner {
	        overflow: hidden;
	        width: calc(100% - 71px)
	    }
	    ul li.phone a {
	        display: inline-block;
	        color: #000000;
	        -webkit-transition: all 300ms;
	        transition: all 300ms
	    }
	    ul li.phone a .number {
	        opacity: 0;
	        -webkit-transition: all 300ms;
	        transition: all 300ms
	    }
	    ul li.navigation-toggle {
	        display: block
	    }
    }
}
.navigation {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 119;
    display: none;
    background: rgba(54, 54, 54, 0.3);
    opacity: 0;
    -webkit-transition: all .3s 1.2s;
    transition: all .3s 1.2s;

    &.show {
	    opacity: 1;
	    -webkit-transition: all 300ms;
	    transition: all 300ms;

	    .links .link {
		    opacity: 1;
		    -webkit-transform: scale(1) translate3d(0, 0, 0);
		    transform: scale(1) translate3d(0, 0, 0);
		
			&:nth-child(1) {
				-webkit-transition: all 300ms;
				transition: all 300ms
			}

			&:nth-child(2) {
				-webkit-transition: all .3s .15s;
				transition: all .3s .15s
			}

			&:nth-child(3) {
				-webkit-transition: all .3s .3s;
				transition: all .3s .3s
			}

			&.button a:hover{
				color: #fff;
			}
		}
	}
	& .links .link {
	    text-align: center;
	    padding: 20px 0;
	    opacity: 0;
	    -webkit-transform: scale(.75) translate3d(0, 100px, 0);
	    transform: scale(.75) translate3d(0, 100px, 0);
	    
	    &.button a{
    	    display: inline-block;
		    vertical-align: middle;
		    height: 28px;
		    line-height: 28px;
		    border: 2px solid rgba(255,255,255,0.2);
		    padding: 0 12px;
		    border-radius: 16px;
		    -webkit-transition: all 300ms;
		    transition: all 300ms;

		    &:hover,
		    &.active{
		    	color: #ffffff;
			    text-shadow: none !important;
			    background: $cta-color;
			    border: 2px solid $cta-color;
			    box-shadow: 0 15px 20px rgba(0,0,0,0.1);
		    } 
	    }


	    &:first-child {
		    padding: 0 0 20px 0
		}

		&:last-child {
		    padding: 20px 0 0 0
		}

		&:nth-child(1) {
		    -webkit-transition: all .3s .45s;
		    transition: all .3s .45s
		}

		&:nth-child(2) {
		    -webkit-transition: all .3s .3s;
		    transition: all .3s .3s
		}

		&:nth-child(3) {
		    -webkit-transition: all .3s .15s;
		    transition: all .3s .15s
		}

		&:nth-child(4) {
		    -webkit-transition: all 300ms;
		    transition: all 300ms
		}

		& a {
		    @extend %primary-font;
		    font-size: 16px;
		    font-weight: 700;
		    color: #ffffff;
		    transition: all 300ms
		}
	}
}



	// .navigation ul li a:hover,.navigation .links .link a:hover {
	//     color: $cta-color
	// }
	// .navigation .links .link.button a:hover{
	// 	color: #fff;
	// }
  
@-webkit-keyframes header-phone {
    0%,
    30% {
        opacity: 0;
        -webkit-transform: translate3d(-20px, 20px, 0);
        transform: translate3d(-20px, 20px, 0)
    }
    80% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0
    }
}

@keyframes header-phone {
    0%,
    30% {
        opacity: 0;
        -webkit-transform: translate3d(-20px, 20px, 0);
        transform: translate3d(-20px, 20px, 0)
    }
    80% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes header-phone2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-20px, 20px, 0);
        transform: translate3d(-20px, 20px, 0)
    }
    70%,
    90% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0
    }
}

@keyframes header-phone2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-20px, 20px, 0);
        transform: translate3d(-20px, 20px, 0)
    }
    70%,
    90% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0
    }
}

@media all and (-ms-high-contrast:none) {
    #contactus header ul li.button.small,
    #contactus header ul li.divider,
    #landers header ul li.button.small,
    #landers header ul li.divider {
        margin-top: 20px;
        line-height: auto
    }
    /* IE10 */
    *::-ms-backdrop,
    #contactus header ul li.button.small,
    #contactus header ul li.divider,
    #landers header ul li.button.small,
    #landers header ul li.divider {
        margin-top: 20px;
        line-height: auto
    }
    /* IE11 */
}

// Chat CSS


#chat {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 42px;
    right: 20px;
    opacity: 0;
    background: url(../img/icons/chat-ic.png) center no-repeat #fff;
    background-size: 21px;
    z-index: 100;
    overflow: hidden;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 2px 0 rgba(36, 41, 43, .5);
    -moz-box-shadow: 0 1px 2px 0 rgba(36, 41, 43, .5);
    box-shadow: 0 1px 2px 0 rgba(36, 41, 43, .5);
    @include respond-to(tablet) {display:none;}
    &.chat-reveal {
	    -webkit-transform-origin: bottom right;
	    -moz-transform-origin: bottom right;
	    -ms-transform-origin: bottom right;
	    transform-origin: bottom right;
	    opacity: 1
	}
	&.color-overlay {
	    background: url(../img/icons/chat-ic-wt.png) center no-repeat $primary-color;
	    background-size: 21px
	}

}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    #chat {
        background: url(../img/icons/chat-ic-2x.png) center no-repeat #fff;
        background-size: 21px
    }
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    #chat.color-overlay {
        background: url(../img/icons/chat-ic-wt-2x.png) center no-repeat $primary-color;
        background-size: 21px
    }
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
    header ul li.divider,
    header ul li.button.small {
        margin-top: 20px;
        line-height: initial
    }
    header ul li.logo {
        margin-top: 24px;
        line-height: initial
    }
}



// #chat figure {
//     width: 54px;
//     height: 54px;
//     background: url(../img/icons/chat.png) center no-repeat #ff8200;
//     border-radius: 50%;
//     float: left;
//     margin: 3px 10px 0 3px;
//     background-size: 28px
// }

// #chat label {
//     font-size: .75em;
//     margin-top: 14px;
//     display: none;
//     font-weight: 400;
//     color: #515361
// }

// #chat span {
//     font-size: .9375em;
//     color: #989898;
//     display: none;
//     margin-top: 2px;
//     -webkit-transition: all .3s;
//     -moz-transition: all .3s;
//     transition: all .3s
// }

