.supportpage{
    position: relative;
    @extend %primary-font;
    font-weight: 400;
    text-align: center;
    background: #ffffff;
    padding: 65px 0 110px 0;
    
    h2{
	    font-size: 13px;
	    font-weight: 400;
	    line-height: 4px;
	    color: $secondary-color;
	    letter-spacing: 2px;
	    text-transform: uppercase;
    }
    
    .wrapper > .title{
    	@extend %primary-font;
		font-size: 32px;
		text-align: center;
		color: $primary-color;
	    margin: 20px auto 0 auto;
    }
    
    .search-wrapper{
    	margin-top: 75px;
    	text-align: center;
    	
    	.search-box-holder{
    		padding: 25px 0;
    		width: 670px;
    		margin: auto;
    		border-bottom: 1px solid #dadada;
    		position: relative;
    		@include ts();
			
			.close-icon{
		        position: absolute;
			    right: 5px;
			    width: 10px;
			    height: 10px;
			    cursor: pointer;
			    overflow: hidden;
			    top: 32px;
			    @include ts();
			    @include tf(scale(0.9));
			    opacity: 0;
			    
			    &::before, &::after{
			    	content: '';
				    position: absolute;
				    height: 2px;
				    width: 100%;
				    top: 50%;
				    left: 0;
				    margin-top: -1px;
				    background: #dadada;
			    }
			    
			    &::before{
		    	    @include tf(rotate(45deg));
			    }
			    
			    &::after{
			    	@include tf(rotate(-45deg));
			    }    
    		}
    		input{
    			@extend %teritary-font;
    			font-size: 16px;
				text-align: left;
				line-height: 22px;
				width: 200px;
				padding: 0 35px;
    			color: $primary-color;
    			@include ts(all 500ms);
    			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: $secondary-color;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  	color: $secondary-color;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  	color: $secondary-color;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  	color: $secondary-color;
				}
				@include background('../img/icons/icon-support-search.png', left center, no-repeat, 20px);
				// background: ('../img/icons/icon-support-search.png') ;
				
				&:focus{
					width: 100%;
					@include border-box;
				}
				&:focus + .close-icon{
					opacity: 1;
					@include tf(scale(1.1));
				} 
    		}

	    	.search-results{
	    		padding: 35px;
	    		background: #ffffff;
	    		text-align: left;
	    		position: absolute;
	    		width: 100%;
	    		left: 0;
	    		right: 0;
	    		margin-top: 5px;
	    		top: 100%;
	    		min-height: 50px;
	    		opacity: 0;
	    		@include tf(scale(0.9));
	    		@include border-box;
	    		box-shadow:  0px 10px 34px 0 rgba(0, 0, 0, 0.15);
	    		&.show{
	    			opacity: 1;
	    			@include tf(scale(1));
	    		}
	    		ul li{
	    			// margin-bottom: 20px;
	    			font-size: 14px;
	    			font-weight: 400;
	    			@extend %teritary-font;
	    			line-height: 35px;
	    			text-align: left;
	    			letter-spacing: 1px;
	    			color: $secondary-color;
	    		}
	    	}	
    	}
    }

    .category-list{
    	margin-top: 110px;
    	
    	ul {
    		@include flex;
		    @include flex-wrap;
		    @include justify-center;
		    @include align-content-center;

		    li{
		    	@include flex-col3;
		    	margin-bottom: 25px;
		    	
		    	a{
		    		padding: 40px;
		    		@include border-box;
		    		background: #ffffff;
		    		box-shadow: 0 0 54px 0 rgba(0, 0, 0, 0.06);
		    		cursor: pointer;

		    		img{
			    		margin : auto auto 40px;
			    	}
			    	h3{
						@extend %primary-font;
						font-size: 16px;
						text-align: center;
						color: $primary-color;
						margin-bottom: 15px;
						font-weight: 400;
			    	}
			    	p{
						opacity: 0.7;
						@extend %teritary-font;
						font-size: 14px;
						line-height: 15px;;
						letter-spacing: 0.4px;
						text-align: center;
						color: $teritary-color;
			    	}

			    	&:hover{
			    		box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, 0.1), 0px 20px 25px 0 rgba(51, 54, 57, 0.06);
			    	}
		    	}
		    	

		    	&:nth-child(3n-1), &:last-child{
	    			padding:  0 25px;
	    			@include border-box;
	    		}
		    }
    	}
    }
}

