


// 


@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    height: 100%;
}

body {
    background: #fff;
    color: #303030;
    font-size: 14px;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    @include fontsmooth();

    &.is-ie {
        .site {
            -webkit-filter: none !important;
            filter: none !important
        }

        footer {    
            -webkit-filter: none !important;
            filter: none !important
        }
    }

    &.blur {
        header {
            &.white {
                background: transparent;
                box-shadow: none;
            }
        }

        .navigation {
            background: rgba(54, 54, 54, .75);
        }

        .site {
            -webkit-filter: blur(5px);
            filter: blur(5px)
        }

        footer {
            -webkit-filter: blur(5px);
            filter: blur(5px)
        }
    }
}

input, select, textarea, button {
    font-family: Arial, sans-serif;
}

.site {
    // position: relative;
    overflow-x: hidden;
    @include ts(filter .3s);
    -webkit-transition: -webkit-filter .3s, filter .3s;
    transition: -webkit-filter .3s, filter .3s
}

button, h1, h2, h3, h4, h5, nav a {
    margin: 0;
    padding: 0
}

html.screen, body.screen {
    width: 100%;
    height: 100%;
    overflow: hidden
}

body main, sub, sup {
    position: relative
}

body.screen .site {
    height: 100%
}


li {
    list-style-type: none
}

.hidden {
    display: none
}

.middled {
    @include flex;
    @include flex-column;
    @include justify-center;
    @include align-content-center;
    width: 100%;
    height: 100%
}

.middled-scroll {
    @include flex;
    overflow: auto;
    width: 100%;
    height: 100%;
    
    & > div {
        margin: auto
    }
}


strong {
    font-weight: 700
}


// Common Button Styles

.button{
    
    &.predefined {
        display: inline-block;
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        text-align: center;
        background: transparent no-repeat 20px center;
        height: 50px;
        line-height: 46px;
        border: 2px solid #ff8400;
        padding: 0 33px;
        border-radius: 31px;
        box-sizing: border-box;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0);
        -webkit-transition: all 300ms;
        transition: all 300ms;
        &.big {
            font-size: 21px;
            height: 62px;
            line-height: 58px;
            padding: 0 60px;
            border-radius: 31px;
        }

        &.black {
            color: $primary-color;
        }

        &:hover,
        &.active {
            background-color: $cta-color;
            box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
            color: #fff;
            text-shadow: none !important
        }
    
        &.sending {
            background-color: $cta-color;
            background-image: url(../img/loader.gif);
            box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
            color: #fff;
            text-shadow: none !important
        }
        @include respond-to(lgmobile){
            &,&.big{font-size: 14px;height: 46px;line-height: 42px;padding: 0 40px}
        }
    }
   
        
}
// Common Button Styles ends here