
.link:not(.custom) {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #32afea
}

.link:not(.custom):hover::after {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0)
}

.link:not(.custom)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: #32afea;
    width: 100%;
    height: 1px;
    -webkit-transition: all 300ms;
    transition: all 300ms
}

.to-load:not(.is-ie) {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
    -webkit-transition: 500ms cubic-bezier(0.1, 0.57, 0.2, 1);
    transition: 500ms cubic-bezier(0.1, 0.57, 0.2, 1)
}

.to-load:not(.is-ie).loaded {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.to-load:not(.is-ie).reset {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}
