/* General mixins*/

// Mixins to clear float
@mixin cb() {
    content: '';
    clear: both;
    display: block;
}

@mixin clear() {
    @include cb();
}

@mixin cba() {
    &:after {
        @include cb();
    }
}
// Mixins for Clearfix


// Font smooth mixins
@mixin fontsmooth() {
    -webkit-font-smoothing: antialiased;
}

@mixin mobilescroll() {
    -webkit-overflow-scrolling: touch;
}

// Background Image Mixins
@mixin bg($url) {
    background: url($url) no-repeat center center / cover;
}
@mixin background($imgpath,$position,$repeat,$size) {
    background: url(#{$imgpath}) $repeat $position/ $size;
}

// mixins to transfrom and transitions

@mixin ts($data: all 300ms) {
    transition: $data;
}

@mixin tf($data) {
    -webkit-transform: $data;
    -moz-transform: $data;
    -ms-transform: $data;
    -o-transform: $data;
    transform: $data;
}

@mixin tr($x, $y, $z: 0) {
    transform: translate3d($x, $y, $z);
}

//  CSS mixins with browser prefixes
@mixin box-shadow {
    -webkit-box-shadow: 0 15px 25px 0 rgba(27,31,36,0.1), 0 8px 8px 0 rgba(54,54,54,0.08);
    -moz-box-shadow: 0 15px 25px 0 rgba(27,31,36,0.1), 0 8px 8px 0 rgba(54,54,54,0.08);
    box-shadow: 0 15px 25px 0 rgba(27,31,36,0.1), 0 8px 8px 0 rgba(54,54,54,0.08);
}

@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

@mixin flex{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin inline-flex{
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@mixin flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin flex-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
 

@mixin flex-col2 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

@mixin flex-col3 {
    -webkit-flex-basis: 33.33333333%;
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
}

@mixin flex-col4 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
}

@mixin justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
} 
@mixin justify-start {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

@mixin justify-space {
	-webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin align-content-center {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

@mixin align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin align-start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@mixin align-strech {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

@mixin flex-grow1 {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

@mixin flex-column{ 
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@mixin flex-basis-auto{
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

@mixin transition-general{
    -webkit-transition: 0.5s cubic-bezier(0.1, 0.57, 0.2, 1);
    transition: 0.5s cubic-bezier(0.1, 0.57, 0.2, 1);
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}

@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}

@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}

@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

@mixin tr-scale1 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@mixin tr-scale2 {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

@mixin fl-order1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1
}

@mixin fl-order2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2
}

@mixin fl-order3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3
}

@mixin fl-order4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4
}

@mixin fl-order5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5
}

@mixin fl-order6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6
}

@mixin fl-order7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
    -ms-flex-order: 7;
    order: 7
}



// Break Point Mixin

// @mixin respond-to($media) {
//   @if $media == mobile {
//     @media only screen and (max-width: $bp-mobile ) { @content; } //480px 
//   }
//   @else if $media == lgmobile {
//     @media only screen and (max-width: $bp-tablet) { @content; }//640px
//   }
//   @else if $media == tablet {
//     @media only screen and (max-width: $bp-lg-tablet) { @content; }// 768px
//   }

//   @else if $media == mdtablet {
//     @media only screen and (max-width: $bp-sm-desktop) { @content; }// 900px
//   }
//   @else if $media == lgtablet {
//    @media only screen and (min-width: $bp-tablet+1 ) and (max-width: $bp-md-desktop) { @content; }//641 to mx 980
//   }
//   @else if $media == mddesktop {
//     @media only screen and (min-width: $bp-tablet + 1 ) and (max-width: $bp-lg-desktop) { @content; }//641 to mx 1220
//   }
//   @else if $media == wide-screens {
//     @media only screen and (min-width: 1500px) { @content; }
//   }
// }


@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $bp-mobile ) { @content; } //480px 
  }
  @else if $media == lgmobile {
    @media only screen and (max-width: $bp-lg-mobile) { @content; }//640px
  }
  @else if $media == tablet {
    @media only screen and (max-width: $bp-lg-tablet) { @content; }// 768px
  }
  @else if $media == mdtablet {
    @media only screen and (max-width: $bp-lg-tablet) { @content; }// 900px
  }
  @else if $media == lgtablet {
   @media only screen and (min-width: $bp-lg-mobile+1 ) and (max-width: $bp-sm-desktop) { @content; }//641 to mx 980
  }
  @else if $media == smdesktop {
   @media only screen and (max-width: $bp-md-desktop) { @content; }//1030px
  }
  @else if $media == mddesktop {
    @media only screen and (min-width: $bp-lg-mobile+1 ) and (max-width: $bp-lg-desktop) { @content; }//641 to mx 1220
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: 1500px) { @content; }
  }
}