

/* color */

$bgcolor: #fff;
$sec-bgcolor: #3193c8;

$primary-color: #24292b;
$secondary-color: #879095;
$teritary-color: #828E95;
$cta-text-color: #85B70A;
$cta-color 		: #ff6f00;

%primary-font {
    font-family: "Montserrat",sans-serif;
}

%secondary-font {
    font-family: "Roboto",sans-serif;
}

%teritary-font {
    font-family: "Aileron",sans-serif;
}

// button active state
%active-state{
	color: #fff;
	background: $cta-color;
	border: 2px solid $cta-color;
}

/* font weight */
$hariline: 100;
$thin: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$xbold: 800;
$black-weight: 900;




/* img path */
$img-path: "../images/";

$img-banner-path: "../images/banners/";

$img-icons-path: "../images/icons/";

$img-svg-path: "../images/icons/svg/";

$img-logos-path: "../images/logos/";


/* break points*/
// $bp-mobile : 480px;
// $bp-tablet : 640px;
// $bp-tablet: 768px;
// $bp-lg-tablet: 900px;
// $bp-sm-desktop: 980px;
// $bp-md-desktop: 1030px;
// $bp-lg-desktop: 1220px;

$bp-mobile : 480px;
$bp-lg-mobile : 640px;
$bp-tablet: 768px;
$bp-lg-tablet: 900px;
$bp-sm-desktop: 980px;
$bp-md-desktop: 1030px;
$bp-lg-desktop: 1220px;

