
@-webkit-keyframes homepage-hero-arrows {
    0%,
    15% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0) rotateZ(45deg);
        transform: translate3d(0, -20px, 0) rotateZ(45deg)
    }
    40%,
    80% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotateZ(45deg);
        transform: translate3d(0, 0, 0) rotateZ(45deg)
    }
    100% {
        opacity: 0
    }
}

@keyframes homepage-hero-arrows {
    0%,
    15% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0) rotateZ(45deg);
        transform: translate3d(0, -20px, 0) rotateZ(45deg)
    }
    40%,
    80% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotateZ(45deg);
        transform: translate3d(0, 0, 0) rotateZ(45deg)
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes homepage-hero-arrows2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0) rotateZ(45deg);
        transform: translate3d(0, -20px, 0) rotateZ(45deg)
    }
    35%,
    80% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotateZ(45deg);
        transform: translate3d(0, 0, 0) rotateZ(45deg)
    }
    100% {
        opacity: 0
    }
}

@keyframes homepage-hero-arrows2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0) rotateZ(45deg);
        transform: translate3d(0, -20px, 0) rotateZ(45deg)
    }
    35%,
    80% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotateZ(45deg);
        transform: translate3d(0, 0, 0) rotateZ(45deg)
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes homepage-line {
    0% {
        stroke-dashoffset: 2580.60522461
    }
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes homepage-line {
    0% {
        stroke-dashoffset: 2580.60522461
    }
    100% {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes homepage-line-dot {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes homepage-line-dot {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes homepage-line-shadow-overlay {
    0% {
        width: 100%
    }
    100% {
        width: 0
    }
}

@keyframes homepage-line-shadow-overlay {
    0% {
        width: 100%
    }
    100% {
        width: 0
    }
}