

/* color */

$bgcolor: #fff;
$sec-bgcolor: #3193c8;
$primary-color: #24292b;
$secondary-color: #879095;
$teritary-color: #828E95;
$cta-text-color: #85B70A;
$cta-color 		: #ff6f00;


// fonts

%primary-font {
    font-family: "Montserrat",sans-serif;
}


%secondary-font {
    font-family: "Roboto",sans-serif;
}

%teritary-font {
    font-family: "Aileron",sans-serif;
}


// clearfix

%clear-fix{
	content: " ";
	display: block;
	clear: both
}
	
// button active state

%active-state{
	color: #fff;
	background: $cta-color;
	border: 2px solid $cta-color;
}



%card {
    width: 300px;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
}



/* font weight */
$hariline: 100;
$thin: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$xbold: 800;
$black-weight: 900;




/* img path */
$img-path: "../images/";

$img-banner-path: "../images/banners/";

$img-icons-path: "../images/icons/";

$img-svg-path: "../images/icons/svg/";

$img-logos-path: "../images/logos/";


/* break points*/
// $bp-mobile : 480px;
// $bp-tablet : 640px;
// $bp-tablet: 768px;
// $bp-lg-tablet: 900px;
// $bp-sm-desktop: 980px;
// $bp-md-desktop: 1030px;
// $bp-lg-desktop: 1220px;

$bp-mobile : 480px;
$bp-lg-mobile : 640px;
$bp-tablet: 768px;
$bp-lg-tablet: 900px;
$bp-sm-desktop: 980px;
$bp-md-desktop: 1030px;
$bp-lg-desktop: 1220px;



//easings
$snap: "cubic-bezier(0,1,.5,1)";
$easeInCubic: "cubic-bezier(.550,.055,.675,.190)";
$easeOutCubic: "cubic-bezier(.215,.61,.355,1)";
$easeInOutCubic: "cubic-bezier(.645,.045,.355,1)";
$easeInCirc: "cubic-bezier(.6,.04,.98,.335)";
$easeOutCirc: "cubic-bezier(.075,.82,.165,1)";
$easeInOutCirc: "cubic-bezier(.785,.135,.15,.86)";
$easeInExpo: "cubic-bezier(.95,.05,.795,.035)";
$easeOutExpo: "cubic-bezier(.19,1,.22,1)";
$easeInOutExpo: "cubic-bezier(1,0,0,1)";
$easeInQuad: "cubic-bezier(.55,.085,.68,.53)";
$easeOutQuad: "cubic-bezier(.25,.46,.45,.94)";
$easeInOutQuad: "cubic-bezier(.455,.03,.515,.955)";
$easeInQuart: "cubic-bezier(.895,.03,.685,.22)";
$easeOutQuart: "cubic-bezier(.165,.84,.44,1)";
$easeInOutQuart: "cubic-bezier(.77,0,.175,1)";
$easeInQuint: "cubic-bezier(.755,.05,.855,.06)";
$easeOutQuint: "cubic-bezier(.23,1,.32,1)";
$easeInOutQuint: "cubic-bezier(.86,0,.07,1)";
$easeInSine: "cubic-bezier(.47,0,.745,.715)";
$easeOutSine: "cubic-bezier(.39,.575,.565,1)";
$easeInOutSine: "cubic-bezier(.445,.05,.55,.95)";
$easeInBack: "cubic-bezier(.6,-.28,.735,.045)";
$easeOutBack: "cubic-bezier(.175, .885,.32,1.275)";
$easeInOutBack: "cubic-bezier(.68,-.55,.265,1.55)";
$slide: "cubic-bezier(0.1, 0.57, 0.2, 1)";